:root {
    --red: #e74c3c;
    --green: #2ecc71;
    --lightgray: #ecf0f1;
    --gray: #bdc3c7;
    --darkgray: #7f8c8d;
}


#crafting_section {
    display: none;
    justify-content: space-between;
    align-items: center;
}

#resources_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#resources_section button {
    cursor: pointer;
}

#furnace_section {
    display: none;
}

.section {
    width: 800px;
    height: 320px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--lightgray);
    border-radius: 5px;
    padding: 20px 30px 20px 30px
}

.section.error_flash {
    background-color: var(--red)
}

.section.success_flash {
    background-color: var(--green);
}


#crafting {
    padding: 0px;
    border-collapse: separate;
    border-spacing: 5px;

}

.crafting_td,
#item_to_craft {
    background-color: var(--gray);
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    text-align: center;
    transition: ease-in-out.2s;
}

#item_to_craft {
    display: flex;
    justify-content: center;
    align-items: center;
}


#crafting td:hover {
    background-color: var(--darkgray);
}

#inventory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--lightgray);
    margin-left: auto;
    margin-right: auto;
    gap: 8px;
    width: 800px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 30px 20px 30px;
    overflow: scroll;
}

#inventory::-webkit-scrollbar {
    display: none;
}

.slot {
    border: none;
    background-color: var(--gray);
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 5px;
}


.slot img {
    height: 50px;
}

#items_list {
    position: absolute;
    list-style: none;
}

.slot {
    transform: scale(1);
    transition: 0.2s;
}

.active_item {
    transform: scale(1.1);
    background-color: var(--green);
    transition: 0.2s;
}


#health_bar {
    background-color: var(--lightgray);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: calc(540px + 54px);
    height: 54px;
    margin: 10px auto 10px auto;
    padding: 10px;
}

.heart img,
.heart_empty img {
    height: 54px;
}

#nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10;
}

.item_resource {
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 0
}

.item_resource img,
.tool_resource img {
    height: 80px;
    width: 80px;
}

.tool_resource {
    border: none;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.2s;
}


#resources_tools {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0px auto 0px auto;
}

#resources_blocks {
    display: flex;
    justify-content: space-between;
}

.slot_counter {
    position: absolute;
    bottom: 5px;
    left: 5px;
}